/*****************
* Commonly used variables
******************/
$color-green__dinosaur: #508f00;
$color-white__dirty: #fefff8;
$color-gray__medium: #929292;

$dino-panel-size: 230px;
$info-box-height: 80px;
$badge-size: 50px;

$font-family-base: proxima-nova, 'Proxima Nova', Helvetica, Arial, sans-serif;