$color-red: #da291c;
$color-gray__dark: #242424;
$color-gray__light: #f8f8f8;
$color-gray__medium: #999999;
$color-gray__medium-dark: #ddd;

$color--primary: $color-red;
$color--secondary: $color-gray__dark;