/************************
* Extendable classes
*************************/
.small-print, .view-more, .deal-dates {
  font-size: .9em; }

.transition, .centre a:focus, .active .centre a:focus, .list-group-item.focus {
  transition: outline ease-in-out 0.15s, background-color ease-in-out 0.15s; }

/************************
* Element styles
*************************/
section, header, nav {
  display: block; }

body {
  padding-top: 30px; }

a:hover, a:focus {
  text-decoration: none; }

.westfield-logo {
  width: 200px; }

/************************
* Navigation tabs
*************************/
.nav-tabs {
  border-bottom: none; }
  .nav-tabs > li {
    padding-right: 5px; }
    .nav-tabs > li > a {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,d6d6d6+100&amp;0+0,0.65+100 */
      /* IE9 SVG, needs conditional override of 'filter' to 'none' */
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmQ2ZDYiIHN0b3Atb3BhY2l0eT0iMC42NSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
      background: -moz-linear-gradient(top, transparent 0%, rgba(214, 214, 214, 0.65) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, transparent), color-stop(100%, rgba(214, 214, 214, 0.65)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, transparent 0%, rgba(214, 214, 214, 0.65) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, transparent 0%, rgba(214, 214, 214, 0.65) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, transparent 0%, rgba(214, 214, 214, 0.65) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, transparent 0%, rgba(214, 214, 214, 0.65) 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6d6d6d6',GradientType=0 );
      /* IE6-8 */
      border: 1px solid #ddd;
      border-bottom: 1px solid transparent;
      text-align: center;
      padding: 7px 20px;
      color: #242424;
      box-shadow: 4px 0px 5px 0px #f5f5f5; }
    .nav-tabs > li.active > a {
      font-weight: bold;
      background: none; }

/************************
* Search region
*************************/
#search-region .input-group-addon {
  background-color: white;
  border-right: none;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075); }

#search-region .form-control {
  border-left: none;
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075); }

.input-group.focus #search-button {
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 0.075);
  border: thin solid #ccc;
  border-right: none;
  border-color: #66afe9;
  outline: 0;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

/************************
* Centre styles
*************************/
#centres-region {
  padding-top: 5px; }

.panel {
  border: none;
  margin-bottom: 1px; }

.panel-default > .panel-heading {
  background-color: #242424;
  padding: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.centre a {
  color: white;
  display: block;
  padding: 10px 15px; }
  .centre a:hover {
    background-color: #313131; }
  .centre a:focus {
    outline: medium solid #0a0a0a;
    background-color: #3e3e3e; }

.active .centre {
  background-color: #da291c; }
  .active .centre a:hover {
    background-color: #e4382c; }
  .active .centre a:focus {
    outline: medium solid #ad2116;
    background-color: #e74d42; }
  .active .centre .glyphicon-plus {
    display: none; }
  .active .centre .glyphicon-minus {
    display: inline-block; }

.centre .glyphicon-plus {
  display: inline-block; }

.centre .glyphicon-minus {
  display: none; }

.centre .glyphicon {
  color: white; }

/************************
* Deal styles
*************************/
.list-group-item {
  border: none;
  margin-bottom: 5px; }
  .list-group-item:hover,
  .list-group-item:nth-child(odd):hover {
    background-color: #f2f2f2; }
  .list-group-item:nth-child(odd) {
    background-color: #f8f8f8; }
  .list-group-item.focus {
    outline: medium solid #c5c5c5;
    background-color: #dfdfdf; }
  .list-group-item a {
    outline: none; }

.deal-title {
  color: #242424;
  margin-top: 5px;
  margin-bottom: 5px; }

.logo {
  max-width: 150px;
  max-height: 60px;
  float: right; }
  @media (max-width: 767px) {
    .logo {
      float: left; } }

.view-more {
  white-space: nowrap; }

.deal-dates {
  color: #999999; }

.no-deals {
  background-color: #f8f8f8;
  color: #999999;
  height: 100px; }
